* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', sans-serif;
    background-image: linear-gradient(to right top, #f32929 #3a3af6);
    background-attachment: fixed;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: rgb(0, 0, 0);
    max-width: 1200px;
}

.circles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.circle {
    background-color: rgb(1, 28, 28);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    pointer-events: none;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    background-color: #f3f3f3;
    margin: 5rem 1rem;
    cursor: pointer;
    border: none;

}

.circle.active {
    background-color: tomato;
    background-image: url(reqimg);
    background-size: cover;
}

.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal {
    background-color: rgb(251, 208, 145);
    color: black;
    border-radius: 10px;
    width: 40%;
    height: 25%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    margin: 0;

}

.modal .score {
    font-size: 1.5rem;
}

.hidden {
    display: none;
}