* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(177, 188, 198);
    display: flex;
}

h1 {
    margin-left: 5rem;
    padding-bottom: 2rem;
}

.carData {
    display: inline-block;
    margin: 5rem;
    align-items: center;
    flex-wrap: wrap;
}

input {
    margin-left: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
}

button {
    padding: 1rem 1rem;
    border-radius: 5px;
    background-color: bisque;
    margin: 1rem;
}

.table {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(245, 247, 249);

}

th,
td {
    padding: 15px;
    background-color: rgb(211, 175, 245);
}